.nav{
    width:100%;
    height: 60px;
    background-color: rgba(195, 230, 255, 0.281);
    display: flex;
}

.conteudos{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.conteudos  .logo{
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer
}


.links .link{
    color: rgba(0, 0, 0, 0.925);
    margin: 0px 20px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    font-size: 17px;
}

.links .link:hover{
    color: rgba(0, 0, 0, 0.582)
}

.link .do{
    color: green;
}

.link .doing{
    color: blue;
}

.link .done{
    color: green;
}